# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual Environment
app/routes/ocr
venv/
env/
.env/
env.bak/
.venv/

# IDEs
.vscode/
.idea/

# Log files
*.log

# Jupyter Notebook
.ipynb_checkpoints

# Cache
*.pyc
*.pyo
*.pyd
*.coverage
.coverage.*
.cache
pytest_cache/
__pycache__/

# Configuration files
*.env
*.env.*

# FastAPI specific
static/
templates/
